{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'global/partials/head.html' %}
</head>
<body>
    {% include 'global/partials/navbar.html' %}

    {% block content %}{% endblock content %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.formset.js' %}"></script>

    {% block script %}{% endblock script %}

</body>
</html>