{% extends 'global/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<h1 class="mt-4 text-center">Fornecedores</h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="row justify-content-center">
            <button type="button" class="btn btn-primary col-5 align-self-center" data-bs-toggle="modal"
                data-bs-target="#newModal">
                Novo fornecedor
            </button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <table id="userTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome fantasia</th>
                        <th>Razão social</th>
                        <th>CNPJ</th>
                        <th>Endereço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="tabela">

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal Criar-->
<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formFornecedor" action="">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <button class="btn btn-primary form-control mt-2" type="submit">Cadastrar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Editar-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="menssagem-alerta"></div>
                <form id="updateForm" action="">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <input class="form-control" id="form-id" type="hidden" name="formId" />

                    <button class="btn btn-primary form-control mt-2" type="submit">Salvar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
    function appendToTable(element) {
        var linha = document.getElementById("tabela");
        conteudo = `<tr id="fornecedor-${element.id}">
                            <td class="fornecedorId userData" name="id">${element.id}</td>
                            <td class="fornecedorNomeFantasia userData" name="nome_fantasia">${element.nome_fantasia}</td>
                            <td class="fornecedorRazaoSocial userData"  name="razao_social">${element.razao_social}</td>
                            <td class="fornecedorCnpj userData"  name="cnpj">${element.cnpj}</td>
                            <td id="fornecedor-${element.id}-td" class="fornecedorEndereco userData"  name="endereco">
                                <span class="fonercedorLogradouro userData" name="logradouro">${element.logradouro}</span>, 
                                <span class="fornecedorNumero userData" name="numero">${element.numero}</span>, 
                                <span class="fornecedorBairro userData" name="bairro">${element.bairro}</span>, 
                                <span class="fornecedorCidade userData" name="cidade">${element.cidade}</span>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal" onClick="editUser(${element.id})">
                                        EDITAR
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-danger" onClick="deleteUser(${element.id})">DELETE</button>
                                    </div>
                                </div>
                            </td>
                        </tr>`
        linha.innerHTML += conteudo
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        };
        return cookieValue;
    };
    const csrftoken = getCookie('csrftoken');

    // Lista os Fornecedores
    (function listaFornecedores() {
        $.ajax({
            url: "{% url 'estoque:fornecedores-api-list' %}",
            type: 'GET',
            async: true,
            success: function (resposta) {
                resposta.forEach(element => {
                    appendToTable(element);
                })
            },
        })
    })();


    //  Criar Fornecedores
    (function criaFornecedor() {
        const table = document.getElementById("tabela");
        const form = document.getElementById('formFornecedor');

        const nome_fantasia = document.getElementById('id_nome_fantasia');
        const razao_social = document.getElementById('id_razao_social');
        const cnpj = document.getElementById('id_cnpj');
        const logradouro = document.getElementById('id_logradouro');
        const numero = document.getElementById('id_numero');
        const bairro = document.getElementById('id_bairro');
        const cidade = document.getElementById('id_cidade');

        const csrf = document.getElementsByName('csrfmiddlewaretoken')

        const url = "{% url 'estoque:fornecedores-api-list' %}"

        form.addEventListener('submit', e => {
            e.preventDefault()

            const fd = new FormData()
            fd.append('csrfmiddlewaretoken', csrf[0].value)
            fd.append('nome_fantasia', nome_fantasia.value)
            fd.append('razao_social', razao_social.value)
            fd.append('cnpj', cnpj.value)
            fd.append('logradouro', logradouro.value)
            fd.append('numero', numero.value)
            fd.append('bairro', bairro.value)
            fd.append('cidade', cidade.value)

            $.ajax({
                type: 'POST',
                url: url,
                data: fd,
                async: true,
                success: function (resposta) {
                    appendToTable(resposta);
                },
                error: function (error) {
                    const respostaErrors = error.responseJSON
                    console.log(error)
                    console.log(respostaErrors)
                },
                cache: false,
                contentType: false,
                processData: false,
            })
        })
    })();



    // Deletar Fornecedores
    function deleteUser(id) {
        const url = '{% url "estoque:fornecedores-api-detail" 0 %}'.replace('0', id);

        var action = confirm("Are you sure you want to delete this user?");
        if (action != false) {
            $.ajax({
                type: 'DELETE',
                url: url,
                headers: { 'X-CSRFToken': csrftoken },
                mode: 'same-origin',
                success: function (resposta) {
                    console.log(resposta)
                    $("#userTable #fornecedor-" + id).remove();
                },
                error: function (error) {
                    const respostaErrors = error.responseJSON
                    console.log(error)
                    console.log(respostaErrors)
                },
                cache: false,
                contentType: false,
                processData: false,
            })
        }
    }


    // Editando fornecedor
    (function editaProduto() {
        const form_edit = document.getElementById('updateForm')

        form_edit.addEventListener('submit', e => {
            e.preventDefault()

            var idInput = $('input[name="formId"]').val().trim();
            var nomeFantasiaInput = $('form#updateForm #id_nome_fantasia').val().trim();
            var razaoSocialInput = $('form#updateForm #id_razao_social').val().trim();
            var cnpjInput = $('form#updateForm #id_cnpj').val().trim();
            var logradouroInput = $('form#updateForm #id_logradouro').val().trim();
            var numeroInput = $('form#updateForm #id_numero').val().trim();
            var bairroInput = $('form#updateForm #id_bairro').val().trim();
            var cidadeInput = $('form#updateForm #id_cidade').val().trim();

            var url = '{% url "estoque:fornecedores-api-detail" 0 %}'.replace('0', idInput);

            const fd = new FormData()
            fd.append('nome_fantasia', nomeFantasiaInput)
            fd.append('razao_social', razaoSocialInput)
            fd.append('cnpj', cnpjInput)
            fd.append('logradouro', logradouroInput)
            fd.append('numero', numeroInput)
            fd.append('bairro', bairroInput)
            fd.append('cidade', cidadeInput)

            if (nomeFantasiaInput && razaoSocialInput && cnpjInput) {
                // Create Ajax Call
                $.ajax({
                    type: 'PATCH',
                    url: url,
                    headers: { 'X-CSRFToken': csrftoken },
                    data: fd,
                    async: true,
                    success: function (resposta) {
                        updateToTabel(resposta)
                    },
                    error: function (error) {
                        // var linha = document.getElementById("menssagem-alerta");
                        // var errors = error.responseJSON
                        // console.log(errors);
                        // linha.innerHTML += `<div class="alert alert-danger" role="alert">
                        //                     ${errors.cnpj}
                        //                     </div>`
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                })
            } else {
                alert("All fields must have a valid value.");
            }
        })
    })();

    function updateToTabel(resposta) {
        $("#userTable #fornecedor-" + resposta.id).children(".userData").each(function () {
            var attr = $(this).attr("name");
            if (attr == "nome_fantasia") {
                $(this).text(resposta.nome_fantasia);
            } else if (attr == "razao_social") {
                $(this).text(resposta.razao_social);
            } else if (attr == "cnpj") {
                $(this).text(resposta.cnpj);
            }
        });
        $(`#userTable #fornecedor-${resposta.id}-td`).children(".userData").each(function () {
            var attr = $(this).attr("name");
            if (attr == "logradouro") {
                $(this).text(resposta.logradouro);
            } else if (attr == "bairro") {
                $(this).text(resposta.bairro);
            } else if (attr == "cidade") {
                $(this).text(resposta.cidade);
            } else if (attr == "numero") {
                $(this).text(resposta.numero);
            }
        })
    }

    function editUser(id) {
        if (id) {
            tr_id = "#fornecedor-" + id;
            tr_id_td = `#fornecedor-${id}-td`;
            const nome_fantasia = $(tr_id).find(".fornecedorNomeFantasia").text();
            const razao_social = $(tr_id).find(".fornecedorRazaoSocial").text();
            const cnpj = $(tr_id).find(".fornecedorCnpj").text();
            const logradouro = $(tr_id_td).find(".fonercedorLogradouro").text();
            const numero = $(tr_id_td).find(".fornecedorNumero").text();
            const bairro = $(tr_id_td).find(".fornecedorBairro").text();
            const cidade = $(tr_id_td).find(".fornecedorCidade").text();
            $('form#updateForm #form-id').val(id);
            $('form#updateForm #id_nome_fantasia').val(nome_fantasia);
            $('form#updateForm #id_razao_social').val(razao_social);
            $('form#updateForm #id_cnpj').val(cnpj);
            $('form#updateForm #id_logradouro').val(logradouro);
            $('form#updateForm #id_numero').val(numero);
            $('form#updateForm #id_bairro').val(bairro);
            $('form#updateForm #id_cidade').val(cidade);
        }
    }

</script>
{% endblock script %}