{% extends 'global/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<h1 class="mt-4 text-center">Produtos</h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="row justify-content-center">
            <button type="button" class="btn btn-primary col-5 align-self-center" data-bs-toggle="modal"
                data-bs-target="#newModal">
                Novo produto
            </button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <table id="userTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="tabela">

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal Criar-->
<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formProduto" action="">
                    {% csrf_token %}
                    {{ form|crispy }}

                    {{ form_fornecedor_preco.management_form }}

                    <div id="formFornecedorPreco">
                        {% for fp in form_fornecedor_preco %}
                        <div id="inlineFormCreate">
                            <hr>
                            {{ fp|crispy }}
                        </div>
                        {% endfor %}
                    </div>

                    <button class="btn btn-primary form-control mt-2" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Editar-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateForm" action="">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <input class="form-control" id="form-id" type="hidden" name="formId" />


                    <button class="btn btn-primary form-control mt-2" type="submit">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<!-- Inline Form -->
<script type="text/javascript">
    $(function () {
        $('#inlineFormCreate').formset({
            prefix: '{{ form_fornecedor_preco.prefix }}'
        });
    })
</script>

<!-- CRUD AJAX -->
<script>
    function appendToTable(element) {
        // onClick="editUser(${element.id})" 
        var linha = document.getElementById("tabela");
        conteudo = `<tr id="produto-${element.id}">
                            <td class="produtoId userData" name="id">${element.id}</td>
                            <td class="produtoNome userData" name="nome">${element.nome}</td>
                            <td class="produtoDescricao userData"  name="descricao">${element.descricao}</td>
                            <td class="produtoCategoriaId userData"  name="categoria" hidden>${element.categoria}</td>
                            <td class="produtoCategoria userData"  name="categoria_name">${element.categoria_name}</td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editModal" onClick="editUser(${element.id})">
                                        Editar
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-danger" onClick="deleteUser(${element.id})">DELETE</button>
                                    </div>
                                </div>
                            </td>
                        </tr>`
        linha.innerHTML += conteudo
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        };
        return cookieValue;
    };
    const csrftoken = getCookie('csrftoken');

    // Lista os Produtos
    (function listaProdutos() {
        $.ajax({
            url: "{% url 'estoque:produtos-api-list' %}",
            type: 'GET',
            async: true,
            success: function (resposta) {
                resposta.forEach(element => {
                    appendToTable(element);
                })
            },
        })
    })();


    //  Criar Produto
    (function criaProduto() {
        const table = document.getElementById("tabela");
        const form = document.getElementById('formProduto');

        const nome = document.getElementById('id_nome');
        const descricao = document.getElementById('id_descricao');
        const categoria = document.getElementById('id_categoria');

        const csrf = document.getElementsByName('csrfmiddlewaretoken')



        const url = "{% url 'estoque:produtos-api-list' %}"
        const url_fp = "{% url 'estoque:fornecedor-preco-api-list' %}"

        form.addEventListener('submit', e => {
            e.preventDefault()

            const fd = new FormData()
            fd.append('csrfmiddlewaretoken', csrf[0].value)
            fd.append('nome', nome.value)
            fd.append('descricao', descricao.value)
            fd.append('categoria', categoria.value)



            $.ajax({
                type: 'POST',
                url: url,
                data: fd,
                async: true,
                success: function (resposta) {
                    appendToTable(resposta);
                    criarFornecedorPreco(resposta.id)
                },
                error: function (error) {
                    const respostaErrors = error.responseJSON
                    console.log(error)
                    console.log(respostaErrors)
                },
                cache: false,
                contentType: false,
                processData: false,
            })
            function criarFornecedorPreco(id) {
                const form_fornecedor_preco = document.getElementById('formFornecedorPreco')
                const fornecedor = document.getElementById('id_preco_nos_fornecedores-0-fornecedor')
                const preco = document.getElementById('id_preco_nos_fornecedores-0-preco_de_custo')
                const fd_fp = new FormData()
                fd_fp.append('csrfmiddlewaretoken', csrf[0].value)
                fd_fp.append('fornecedor', fornecedor.value)
                fd_fp.append('preco_de_custo', preco.value)
                fd_fp.append('produto', id)

                $.ajax({
                    type: 'POST',
                    url: url_fp,
                    data: fd_fp,
                    async: true,
                    success: function (resposta) {
                    },
                    error: function (error) {
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                })
            }
        })
    })();



    // Deletar Produto
    function deleteUser(id) {
        const url = '{% url "estoque:produtos-api-detail" 0 %}'.replace('0', id);

        var action = confirm("Are you sure you want to delete this user?");
        if (action != false) {
            $.ajax({
                type: 'DELETE',
                url: url,
                headers: { 'X-CSRFToken': csrftoken },
                mode: 'same-origin',
                success: function (resposta) {
                    console.log(resposta)
                    $("#userTable #produto-" + id).remove();
                },
                error: function (error) {
                    const respostaErrors = error.responseJSON
                    console.log(error)
                    console.log(respostaErrors)
                },
                cache: false,
                contentType: false,
                processData: false,
            })
        }
    }


    // Editando produto
    (function editaProduto() {
        const form_edit = document.getElementById('updateForm')

        form_edit.addEventListener('submit', e => {
            e.preventDefault()

            var idInput = $('input[name="formId"]').val().trim();
            var nomeInput = $('form#updateForm #id_nome').val().trim();
            var descricaoInput = $('form#updateForm #id_descricao').val().trim();
            var categoriaInput = $('form#updateForm #id_categoria').val().trim();

            var url = '{% url "estoque:produtos-api-detail" 0 %}'.replace('0', idInput);

            const fd = new FormData()
            fd.append('nome', nomeInput)
            fd.append('descricao', descricaoInput)
            fd.append('categoria', categoriaInput)

            if (nomeInput && categoriaInput) {
                // Create Ajax Call
                $.ajax({
                    type: 'PATCH',
                    url: url,
                    headers: { 'X-CSRFToken': csrftoken },
                    data: fd,
                    async: true,
                    success: function (resposta) {
                        updateToTabel(resposta)
                    },
                    error: function (error) {
                        const respostaErrors = error.responseJSON
                        console.log(error)
                        console.log(respostaErrors)
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                })
            } else {
                alert("All fields must have a valid value.");
            }
        })
    })();

    function updateToTabel(resposta) {
        $("#userTable #produto-" + resposta.id).children(".userData").each(function () {
            var attr = $(this).attr("name");
            if (attr == "nome") {
                $(this).text(resposta.nome);
            } else if (attr == "descricao") {
                $(this).text(resposta.descricao);
            } else if (attr == "categoria") {
                $(this).text(resposta.categoria);
            } else if (attr == "categoria_name") {
                $(this).text(resposta.categoria_name);
            }
        });
    }

    function editUser(id) {
        if (id) {
            tr_id = "#produto-" + id;
            const nome = $(tr_id).find(".produtoNome").text();
            const descricao = $(tr_id).find(".produtoDescricao").text();
            const categoria = $(tr_id).find(".produtoCategoriaId").text();
            $('form#updateForm #form-id').val(id);
            $('form#updateForm #id_nome').val(nome);
            $('form#updateForm #id_descricao').val(descricao);
            $('form#updateForm #id_categoria').val(categoria);
        }
    }

</script>
{% endblock script %}